.wrapper {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}

.overlay section {
    position: relative;
    text-align: center;
    top: 25vh;
    color: white;
}

.overlay h2 {
    font-size: 7em;
}

.overlay p {
    font-size: 3em;
}

.navbar {
    background-color: transparent !important;
    border: 0;
}

.navbar a {
    color: white !important;
}